@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --font-poppins: "Poppins";
  --font-manrope: "Manrope";

  /* Shadcn UI */
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --primary: oklch(0.59 0.225816 258.7831);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.91 0.15455 194.7689);
  --secondary-foreground: oklch(1 0 0);
  --dark-blue: oklch(0.17 0.0493 250.69);
  --dark-blue-foreground: oklch(0 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-dark-blue: var(--dark-blue);
  --color-dark-blue-foreground: var(--dark-blue-foreground);

  /* Font */
  --font-poppins: var(--font-poppins);
  --font-manrope: var(--font-manrope);
  --default-font-family: var(--font-manrope), sans-serif;

  /* Spacing */
  --spacing-15: --spacing(15);
  --spacing-18: --spacing(18);
  --spacing-25: --spacing(25);
  --spacing-30: --spacing(30);
  --spacing-33: --spacing(33);

  /* Animation */
  @keyframes scroll-x {
    0% {
      transform: translateX(var(--start));
    }
    100% {
      transform: translateX(var(--end));
    }
  }
}

@layer base {
  * {
    font-feature-settings:
      "liga" off,
      "clig" off;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  body[data-scroll-locked] header {
    @apply right-(--removed-body-scroll-bar-size);
  }
}

@utility container {
  @apply mx-auto px-4 lg:px-8;
}

@utility scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility border-linear-gradient {
  --bg: #151513;
  --radius: 16px;
  --gradient:
    118.71deg, #ffffff 11.96%, #212121 45.04%, #bdbdbd 66.69%, #232323 75.79%,
    #646464 86.15%;

  @apply relative z-1 rounded-(--radius) border border-transparent bg-(--bg);

  &::before {
    @apply absolute -inset-px -z-1 rounded-(--radius) bg-linear-(--gradient) content-[''];
  }

  &::after {
    @apply absolute inset-0 -z-1 rounded-(--radius) bg-(--bg) content-[''];
  }
}

@utility bg-gradient {
  @apply from-primary to-secondary bg-linear-to-r;
}

@utility bg-gradient-reverse {
  @apply from-primary to-secondary bg-linear-to-l;
}

@utility text-gradient {
  @apply bg-gradient bg-clip-text [-webkit-text-fill-color:transparent];
}

@utility text-gradient-reverse {
  @apply bg-gradient-reverse bg-clip-text [-webkit-text-fill-color:transparent];
}

@utility text-sub-heading {
  @apply text-[12px] leading-[1.3] font-bold tracking-[18px] uppercase lg:text-[20px] lg:font-light;
}

@utility scroll-infinite-x {
  --delay: 0s;
  --duration: 30s;
  --gap: 24px;
  --start: 0;
  --end: calc((50% + var(--gap) / 2) * -1);

  animation: scroll-x var(--duration) linear infinite;
  animation-delay: var(--delay);
  gap: var(--gap);

  @apply flex w-fit items-center justify-center;

  &[data-reverse="true"] {
    --start: calc((50% + var(--gap) / 2) * -1);
    --end: 0;
  }

  &:hover {
    animation-play-state: paused;
  }
}
