@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --font-poppins: "Poppins";
  --font-space-grotesk: "Space Grotesk";

  --gradient: 0deg, #6b6b6b 0%, #000 72.18%, #fff 100%;

  /* Shadcn UI */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Font */
  --font-poppins: var(--font-poppins);
  --font-space-grotesk: var(--font-space-grotesk);
  --default-font-family: var(--font-space-grotesk), sans-serif;
  --text-sm--line-height: 1.5;
  --text-base--line-height: 1.3;
  --text-lg--line-height: 1.3;
  --text-xl--line-height: 1.3;
  --text-2xl--line-height: 1.2;
  --text-3xl--line-height: 1.2;

  /* Spacing */
  --spacing-15: --spacing(15);
  --spacing-30: --spacing(30);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-feature-settings:
      "liga" off,
      "clig" off;
  }
  body {
    @apply bg-background text-foreground;
  }
  body[data-scroll-locked] header {
    @apply right-(--removed-body-scroll-bar-size);
  }
}

@utility container {
  @apply mx-auto px-4 lg:px-8;
}

@utility scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility card-stack {
  --padding-offset: 60px;
  --scale-pct: 0.1;
}

@utility card-stack-item {
  @apply absolute left-[calc(var(--index)*var(--padding-offset))] z-(--index) origin-left scale-100 scale-[calc(1-3*var(--scale-pct))] transition-all duration-200 ease-in-out;

  &:has(+ [class*="card-stack-item"]:hover) {
    @apply !scale-[calc(1-var(--scale-pct))];
  }
  &:has(+ * + [class*="card-stack-item"]:hover) {
    @apply !scale-[calc(1-2*var(--scale-pct))];
  }

  @variant hover {
    @apply z-10 !scale-100;

    & ~ [class*="card-stack-item"] {
      @apply z-[calc(10-var(--index))];
    }

    & + [class*="card-stack-item"] {
      @apply !scale-[calc(1-var(--scale-pct))];

      & + [class*="card-stack-item"] {
        @apply !scale-[calc(1-2*var(--scale-pct))];

        & ~ [class*="card-stack-item"] {
          @apply !scale-[calc(1-3*var(--scale-pct))];
        }
      }
    }
  }

  &:last-child {
    @apply scale-100;
  }
  &:has(+ :last-child) {
    @apply scale-[calc(1-var(--scale-pct))];
  }
  &:has(+ * + :last-child) {
    @apply scale-[calc(1-2*var(--scale-pct))];
  }
}

@keyframes rotateSun {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes moveSun {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.sun-wrapper {
  transform-style: preserve-3d;
  perspective: 100rem;
  width: 30rem;
  aspect-ratio: 1/1;
  margin: auto;
  &.parent-sun {
    animation: moveSun 6s linear infinite;
  }
  *,
  *:after,
  *:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }
}

.sun {
  &,
  span,
  &:after,
  .rotate {
    width: 30rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid rgba(242, 201, 97, 0.3);
  }

  span:nth-of-type(1) {
    transform: rotateY(0deg) rotateX(0deg);
  }
  span:nth-of-type(2) {
    transform: rotateY(20deg) rotateX(20deg);
  }
  span:nth-of-type(3) {
    transform: rotateY(40deg) rotateX(40deg);
  }
  span:nth-of-type(4) {
    transform: rotateY(60deg) rotateX(60deg);
  }
  span:nth-of-type(5) {
    transform: rotateY(80deg) rotateX(80deg);
  }
  span:nth-of-type(6) {
    transform: rotateY(100deg) rotateX(100deg);
  }
  span:nth-of-type(7) {
    transform: rotateY(120deg) rotateX(120deg);
  }
  span:nth-of-type(8) {
    transform: rotateY(140deg) rotateX(140deg);
  }
  span:nth-of-type(9) {
    transform: rotateY(160deg) rotateX(160deg);
  }
  span:nth-of-type(10) {
    transform: rotateY(180deg) rotateX(180deg);
  }
  span:nth-of-type(11) {
    transform: rotateY(200deg) rotateX(200deg);
  }
  span:nth-of-type(12) {
    transform: rotateY(220deg) rotateX(220deg);
  }
  span:nth-of-type(13) {
    transform: rotateY(240deg) rotateX(240deg);
  }
  span:nth-of-type(14) {
    transform: rotateY(260deg) rotateX(260deg);
  }
  span:nth-of-type(15) {
    transform: rotateY(280deg) rotateX(280deg);
  }
  span:nth-of-type(16) {
    transform: rotateY(300deg) rotateX(300deg);
  }
  span:nth-of-type(17) {
    transform: rotateY(320deg) rotateX(320deg);
  }
  span:nth-of-type(18) {
    transform: rotateY(340deg) rotateX(340deg);
  }
  span:nth-of-type(19) {
    transform: rotateY(360deg) rotateX(360deg);
  }
  span:nth-of-type(20) {
    transform: rotateY(380deg) rotateX(380deg);
  }
  span:nth-of-type(21) {
    transform: rotateY(400deg) rotateX(400deg);
  }
  span:nth-of-type(22) {
    transform: rotateY(420deg) rotateX(420deg);
  }
  span:nth-of-type(23) {
    transform: rotateY(440deg) rotateX(440deg);
  }
  span:nth-of-type(24) {
    transform: rotateY(460deg) rotateX(460deg);
  }
  span:nth-of-type(25) {
    transform: rotateY(480deg) rotateX(480deg);
  }
  span:nth-of-type(26) {
    transform: rotateY(500deg) rotateX(500deg);
  }
  span:nth-of-type(27) {
    transform: rotateY(520deg) rotateX(520deg);
  }
  span:nth-of-type(28) {
    transform: rotateY(540deg) rotateX(540deg);
  }
  span:nth-of-type(29) {
    transform: rotateY(560deg) rotateX(560deg);
  }
  span:nth-of-type(30) {
    transform: rotateY(580deg) rotateX(580deg);
  }

  .rotate {
    perspective: none;
    animation: rotateSun 15s linear infinite;
  }

  span {
    box-shadow: 20px 0 50px rgba(242, 201, 97, 0.3);
    /* filter: blur(.3rem) brightness(0.9); */
  }
}

.sun:after {
  background: radial-gradient(#f81c53aa, #ff9500, white);
  transform: translate3d(0, 0, 20rem) scale(0.66);
  filter: blur(1rem);
}
